.gradient-background {
    background: linear-gradient(180deg, #FFFB8B,#A13EDA);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
}


.name {
    font-family: "Bodoni Moda", serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
  }

.bow {
    display: flex; 
    justify-content: center; 
    align-items: center;
    margin-top: 0px;
}

.titleText {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-size: 15px;
}

.profile-img {
    height: 150px;
    border-radius: 50%;
  }

.lead {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.purple {
    color: #A13EDA;
    font-weight: bold;
}

.feature {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

.list {
    margin-top: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.skills {
    background-color: #FFFB8B;
}